{% extends "booking/base.html" %} 
{% block content %}
<section class="hero hero-overlay">
    <div class="inner">
        <nav class="top-nav">
            <ul class="left">
                <a href="index.html">
                    <img src="img/icons/photoMaster.png">
                </a>
            </ul>
            <ul class="right">
                <!--                   <span class="hamburger"></span>-->
                <a href="categories.html" type="button" class="button cta responsive-button">Categories</a>
                <a href="about-us.html" type="button" class="button hollow responsive-button">About</a>
            </ul>
        </nav>
        <div class="headline">
            <h2>Photomasters
                <span>kenya</span>
            </h2>
        </div>
        <div class="sub-headline">
            <h3>Kenya's first on demand photography services </h3>
        </div>
        <div class="call-to-action">
            <a href="categories.html" class="button large">BOOK NOW</a>
        </div>
    </div>
</section>
<section class="how-it-works">
    <h2 class="how-it-works-header">How it works</h2>
    <div class="row steps small-up-1 medium-up-2 large-up-4">
        <div class="columns">
            <h2 class="step-name">
                <span>1</span>
            </h2>
            <div class="step-content">
                <img src="img/12-128.png">
                <div class="step-description">search through our list of professional and talented photographers profile and portfolios and choose the
                    one that best suits your needs </div>
            </div>
        </div>
        <div class="columns">
            <h2 class="step-name">
                <span>2</span>
            </h2>
            <div class="step-content">
                <img src="img/booking-make-reservation-calendar_-128.png">
                <div class="step-description">select the number of days you will want to reserve the photographer and click on the continue button</div>
            </div>
        </div>
        <div class="columns">
            <h2 class="step-name">
                <span>3</span>
            </h2>
            <div class="step-content">
                <img src="img/Forms_Contact_2-128.png">
                <div class="step-description">fill in your contact information in the relevant inputs for further communictaions from our side.</div>
            </div>
        </div>
        <div class="columns">
            <h2 class="step-name">
                <span>4</span>
            </h2>
            <div class="step-content">
                <img src="img/Online_Payment_2-128.png">
                <div class="step-description">you can always pay upfront half of the amount and the remaing balance after the shoot completion to access
                    your photos.</div>
            </div>
        </div>
    </div>
</section>
<section class="benefits">
    <div class="benefits-headings">
        <h2 class="benefits-title">Benefits</h2>
        <h4 class="benefits-subtitle">why PhotoMasters you ask?</h4>
    </div>
    <div class="row wide small-up-1 medium-up-2 large-up-4">
        <div class="column">
            <div class="callout">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                <h4 class="benefit-lead">Professionals</h4>
                <div class="benefit-description">
                    <p>get access to our top notch professional photographers from all over the country </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <i class="fa fa-check-square-o fa-4x" aria-hidden="true"></i>
                <h4 class="benefit-lead">ease of use</h4>
                <div class="benefit-description">
                    <p>The Platform is very easy and simple to use, no need of technical know how to operate.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <i class="fa fa-cloud-download fa-4x" aria-hidden="true"></i>
                <h4 class="benefit-lead">cloud storage</h4>
                <div class="benefit-description">
                    <p>we will be offering cloud-based galeries which can be accessed any time any where</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <i class="fa fa-unlock-alt fa-4x" aria-hidden="true"></i>
                <h4 class="benefit-lead">Online Payment</h4>
                <div class="benefit-description">
                    <p>we offer secure online payment which is fast and very simple to operate</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="media-publications">
    <div class="featured-testimonials-section">
        <div class="row columns">
            <div class="media-headers">
                <h2>Featured In the Press </h2>
            </div>
        </div>
        <div class="featured-testimonials row">
            <div class="small-12 medium-6 columns">
                <div class="testimonial">
                    <img class="profile-pic hide-for-small-only" src="http://photomasters.co/blog/wp-content/uploads/2017/07/Instructional_Photo_Tour_class_on_Morro_Strand_State_Beach_13_Jan._2009-768x503.jpg">
                    <p class="featured-testimonials-quotation">A cool alternative to asking all your contacts for photographer information ~
                        <br>
                        <strong>DisruptAfrica</strong>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="testimonial">
                    <img class="profile-pic hide-for-small-only" src="http://photomasters.co/blog/wp-content/uploads/2017/07/PhotoMasters-702x336.jpg">
                    <p class="featured-testimonials-quotation">Picture a Fun way of having your own personal photographer ~
                        <br>
                        <strong>TechMoran</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="featured-testimonials row">
            <div class="small-12 medium-6 columns">
                <div class="testimonial">
                    <img class="profile-pic hide-for-small-only" src="http://photomasters.co/blog/wp-content/uploads/2017/07/photo6007819285101127943.jpg">
                    <p class="featured-testimonials-quotation">Think of Modelisto meets Uvind but a lot less crappy ~
                        <br>
                        <strong>Tshidi Sekgobela</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}